@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* General */
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
}

.header__title {
  color: #fff;
  font-size: 1.5rem;
  margin-left: 15%;
}

.header__elements {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 15%;
}

.header__input {
  height: 2rem;
  border-radius: 0.5rem;
}

.submit__button {
  color: #fff;
  background-color: #000000;
  border: 1px solid #fff;
  height: 2rem;
  border-radius: 0.5rem;
}

.signin__button {
  color: #fff;
  background-color: #4c5fd5;
  height: 2rem;
  border-radius: 0.5rem;
}

.signin__button:hover {
  background-color: #fff;
  color: #000; /* makes text black color when hovered so you can see it */
}

/* things i need to work on
1. buttons are not the same size
2. in the input, search placeholder is too far left
3. Add an image logo instead of just the text
4. theres too much space between the elements in the header and the end of it,
compared it to the actual site and see. Need to somehow get rid of that open space
5. need to add hover and blur effect to the h1, one of them is an a tag and the other is
the logo. need to figure out how to do that because each have different
hover animations
*/
